* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: skyblue;
}

#container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

#display {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#display-upper {
  flex: 3;
  border: 1px solid black;
  align-content: center;
  font-size: 16px;
}

#display-lower {
  flex: 5;
  border: 1px solid black;
  align-content: center;
  font-size: 24px;
}

#display-upper,
#display-lower {
  overflow: auto;
  white-space: nowrap;
  text-align: right;
  direction: ltr;
  scrollbar-width: none;
  background-color: bisque;
  margin: 2px;
  box-shadow: 2px 2px black;
}

#buttons {
  flex: 4;
  display: flex;
}

button {
  color: bisque;
  font-size: 20px;
  background-color: rgb(125, 104, 86);
  box-shadow: 2px 2px black;
  margin: 2px;
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  background-color: #5A4B3F;
}

button:active {
  background: rgb(125, 104, 86);
  box-shadow: inset 0px 0px;
}

#clear-del {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#clear {
  flex: 1;
}

#del {
  flex: 1;
}

#rows {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
}

.number,
.operator,
#dot,
#equals {
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
}

footer p {
  padding: 16px;
  font-size: 24px;
}
